n8n-workflows/02_low_stock_email.json
{
  "name": "Molido - هشدار موجودی کم با ایمیل",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "molido",
        "responseMode": "responseNode"
      },
      "id": "webhook-2",
      "name": "Molido Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.event }}",
              "operation": "equals",
              "value2": "inventory.low_stock"
            }
          ]
        }
      },
      "id": "if-low-stock",
      "name": "Filter: low_stock",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@molido.ai",
        "toEmail": "manager@yourcompany.com",
        "subject": "⚠️ هشدار موجودی کم - Molido AI",
        "text": "=تعداد {{ $json.data.count }} کالا موجودی کمتر از حد مجاز دارند.\nداشبورد: http://localhost:3001\nAPISwagger: http://localhost:3000/api-docs"
      },
      "id": "email-1",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [750, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }"
      },
      "id": "respond-2",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [750, 400]
    }
  ],
  "connections": {
    "Molido Webhook": {
      "main": [[{ "node": "Filter: low_stock", "type": "main", "index": 0 }]]
    },
    "Filter: low_stock": {
      "main": [
        [{ "node": "Send Email", "type": "main", "index": 0 }],
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
